include ../../components/input/input
include ../../components/modal/modal

div.weather
  div.weather__location
    div.weather__location-pin
    +input(placeholder='Enter your location...' class='weather__location-input')
  div.weather__location-modal
    +modal
  //- div.preload-cont  
    //- img(src="/src/pictures/preload.gif", alt="34" class="preload-cont__img") 
  div.weather-forecast__cur
  div.weather-forecast__week
