* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100%;
} 

body {
  height: 100%;
}

.weather {
  min-height: 100%;
  width: 100%;
  background: $violet;
  padding: 60px 30px 0px 30px;

  @include mobile {
    padding: 30px 10px 30px 10px;
  }

  &__location {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &-pin {
      width: clamp(20px, 10vw, 60px);
      height: clamp(20px, 10vw, 60px);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../pictures/location.png);
      margin-right: 10px;

      @include tablet {
        margin-right: 5px;
      }
    }
  }

  &__location-modal {
    display: flex;
    justify-content: center;
    margin-left: 75px;

    @include mobile {
      margin-right: 15px;
    }
  }
}

.cur-weather {
  margin: 0 auto;
  text-align: center;
  font-family: $reemKufi;
  font-size: clamp(30px, 5vw, 50px);
  opacity: 0;
  transition: 0.5s opacity;

  &--end {
    opacity: 1;
  }

  &__name {
    color: $ligthBlue;
    margin-bottom: 20px;
  }

  &__img-cont {
    display: flex;
    align-items: center;
    width: clamp(270px, 30vw, 350px);
    height: clamp(270px, 30vw, 350px);
    background: $lightViolet;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__img {
    margin: 0 auto;
    width: clamp(190px, 15vw, 220px);
    height: clamp(190px, 15vw, 220px);
  }

  &__temp {
    font-size: clamp(50px, 7vw, 70px);
    color: $pink;
    line-height: 70px;
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 10px;
    }
  } 

  &__descrip {
    font-size: clamp(30px, 5vw, 45px);
    line-height: 45px;
    color: $ligthBlue;
    margin-bottom: 50px;

    @include laptop {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.week-weather {
  width: clamp(300px, 70vw, 900px);
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $reemKufi;
  gap: 10px;
  opacity: 0;
  transition: 0.5s opacity;
  
  &--end {
    opacity: 1;
  }

  &__el {
    width: clamp(100px, 10vw, 130px);
    height: 100px;
    border-radius: 10px;
    background-color: $lightViolet;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(16% - 5px);

    @include tablet {
      flex: 1 1 calc(33% - 5px);
    }
  }

  &__day {
    color: $ligthBlue;
    margin: 0px;
    font-size: clamp(25px, 5vw, 30px);
    line-height: 30px;
  }
}