include ../components/input/input
include ../components/modal/modal

div.weather
  div.weather_locationInput
    div.weather_locationInput-pin
    +input(placeholder='Enter your location...' class='weather_locationInput-input')
  div.weather_locationModal
    +modal
  div.weather_forecast_cont