* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100%;
} 

body {
  height: 100%;
}

.weather {
  min-height: 100%;
  width: 100%;
  background: $violet;
  padding: 60px 30px 0px 30px;

  @include mobile {
    padding: 30px 10px 30px 10px;
  }

  &_locationInput {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &-pin {
      // width: 60px;
      // height: 60px;
      width: clamp(30px, 15vw, 60px);
      height: clamp(30px, 15vh, 60px);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../pictures/location.png);
      margin-right: 10px;

      @include tablet {
        margin-right: 5px;
      }
    }
  }

  &_locationModal {
    display: flex;
    justify-content: center;
    margin-left: 75px;

    @include mobile {
      margin-right: 15px;
    }
  }
}

.weather {
  
  &_cur {
  margin: 0 auto;
  text-align: center;
  font-family: $reemKufi;
  font-size: clamp(30px, 5vw, 50px);
  opacity: 0;
  transition: 0.5s opacity;
  
  &--end {
    opacity: 1;
  }
  }

  &_cur--name {
    color: $ligthBlue;
    margin-bottom: 20px;
  }

  &_cur--img_cont {
    display: flex;
    align-items: center;
    width: clamp(270px, 30vw, 350px);
    height: clamp(270px, 30vw, 350px);
    background: $lightViolet;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &_cur--img {
    margin: 0 auto;
    width: clamp(190px, 15vw, 220px);
    height: clamp(190px, 15vw, 220px);
  }

  &_cur--temp {
    font-size: clamp(50px, 7vw, 70px);
    color: $pink;
    line-height: 70px;
    margin-bottom: 20px;
  }  

  &_cur--descrip {
    font-size: clamp(30px, 5vw, 45px);
    line-height: 45px;
    color: $ligthBlue;
    margin-bottom: 50px;
  }

  &_week {
    width: clamp(300px, 70vw, 850px);
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $reemKufi;
    gap: 10px;
    opacity: 0;
    transition: 0.5s opacity;
  
    &--end {
      opacity: 1;
    }
  }

  &_week--el {
    width: clamp(100px, 10vw, 130px);
    height: 100px;
    border-radius: 10px;
    background-color: $lightViolet;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
    // margin: 10px;
  }

    &_week--day {
      color: $ligthBlue;
      margin: 0px;
      font-size: clamp(25px, 5vw, 30px);
      line-height: 30px;
    }
}