include ../components/input/input
include ../components/modal/modal

div.weather
  div.weather_locationInput
    div.weather_locationInput-pin
    +input(placeholder='Enter your location...' class='weather_locationInput-input')
  div.weather_locationModal
    +modal
  div.weather_forecast_cont
    //- div.weather_forecast
    //-   div.weather_forecast--name name
    //-   div.weather_forecast--img_cont
    //-     img.weather_forecast--img 
    //-   div.weather_forecast--temp 56°C
    //-   div.weather_forecast--weather weather
    //- div.weather_forecast--weekly
    //-   div.weather_forecast--weekly_c
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c 
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c 
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c 
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c 
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12
    //-   div.weather_forecast--weekly_c  
    //-     div.weather_forecast--weekly_c--day mon
    //-     div.weather_forecast--weekly_c--temp 12