* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100%;
} 

body {
  height: 100%;
}

.weather {
  min-height: 100%;
  width: 100%;
  background: $violet;
  padding: 60px 30px 0px 30px;

  &_locationInput {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &-pin {
      width: 60px;
      height: 60px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../pictures/location.png);
      margin-right: 10px;
    }
  }

  &_locationModal {
    display: flex;
    justify-content: center;
    margin-left: 75px;
  }
}

.weather_forecast {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-family: $reemKufi;
  font-size: clamp(30px, 5vw, 50px);

  &--name {
    color: $ligthBlue;
    margin-bottom: 20px;
  }

  &--img_cont {
    display: flex;
    align-items: center;
    width: 350px;
    height: 350px;
    background: $lightViolet;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;

    @include tablet {
      width: 300px;
      height: 300px;
    }
  }

  &--img {
    margin: 0 auto;
    width: 230px;
    height: 230px;

    @include tablet {
      width: 200px;
      height: 200px;
    }
    }

  &--temp {
    font-size: clamp(50px, 7vw, 70px);
    color: $pink;
    line-height: 70px;
    margin-bottom: 20px;
  }  

  &--weather {
    font-size: clamp(30px, 5vw, 45px);
    line-height: 45px;
    color: $ligthBlue;
  }
}