include ../components/input/input
include ../components/modal/modal

div.weather
  div.weather_locationInput
    div.weather_locationInput-pin
    +input(placeholder='Enter your location...' class='weather_locationInput-input')
  div.weather_locationModal
    +modal
  div.weather_forecast_cont  
  //- div.weather_forecast  
  //-   div.weather_forecast--img_cont 
  //-     img.weather_forecast--img(src="/src/pictures/0.png", alt="0")
  //-   div.weather_forecast--temp 23°C
  //-   div.weather_forecast--weather clear sky