.modal {
  width: 750px;
  height: auto;
  background: $lightViolet;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  opacity: 0;
  visibility: hidden;

  &--active {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
  }

  @include laptop {
    width: 600px;
  }

  @include tablet {
    width: 550px;
  }

  @include  mobile {
    width: 100%;
    max-width: 400px;
  }

  &-button {
    display: flex;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: $violet;
    font-family: $poppins;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    padding: 10px 5px 10px 5px;
    margin: 7px 0px 7px 0px;
    width: 100%;

    &:hover {
      background-color: $darkViolet;
    }

    &--country {
      margin: 0px 0px 0px 7px;
      width: 200px;
      text-align: left;

      @include laptop {
        width: 180px;
      }

      @include tablet {
        width: 170px;
      }

      @include mobile {
        width: 130px;
      }
    }
  }
}